.vertical-navbar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 60px;

  background-color: black;
  border: var(--border_tags);
  color: white;
  position: fixed;
  /* margin: -2rem 0; */
  transition: 0.5s ease;
  z-index: 3;

  /* border: var(--border_tags); */
  box-shadow: var(--shadowing);

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom: none;
  border: none;
  padding: 1rem 0.2rem;

  .navbar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    position: absolute;
    left: 10px;
    height: 97vh;

    div.navbar-top-section-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      button.vertical-navbar-collapse-button {
        background-color: transparent;
        display: flex;
        border: none;
        outline: none;

        img {
          filter: var(--imgColor_white);
        }
      }

      div.navigators {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.2rem;

        button {
          background-color: transparent;
          border: none;
          cursor: pointer;
          padding: 6px;
          border-radius: 6px;

          img {
            filter: var(--imgColor_white);
          }
        }

        button.current-page {
          background-color: var(--thirdPrimaryTextColor);
        }

        button:hover {
          background-color: var(--thirdPrimaryTextColor);
        }
      }
    }

    .navbar-bottom-section-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;

      button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 6px;
        border-radius: 6px;

        img:not(.no-user-avatar) {
          filter: var(--imgColor_white);
        }
      }

      button:hover:not(.user-avatar) {
        background-color: var(--thirdPrimaryTextColor);
      }
    }
  }
}

.no-user-avatar {
  border-radius: 100;
}

img.reanotes-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 5;
}

@media screen and (width <= 700px) {
  .vertical-navbar-container {
    display: blcok;
    flex-direction: column;
    height: 100%;
    width: 60px;

    position: absolute;
    top: 0;

    background-color: black;
    border: var(--border_tags);
    color: white;
    position: fixed;
    /* margin: -2rem 0; */
    transition: 0.5s ease;
    z-index: 3;

    /* border: var(--border_tags); */
    box-shadow: var(--shadowing);

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom: none;
    border: none;
    padding: 1rem 0.2rem;

    .navbar-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      position: absolute;
      left: 10px;
      height: 97vh;
    }
  }
}
