div.createNotesComponent {
  margin: 2% 15%;

  div.cardFooterContainer {
    div.addNewCardButton:hover {
      background-color: var(--tag_backgroundColor);
    }
  }
}

@media screen and (width <= 700px) {
  div.createNotesComponent {
    margin: 2% 5%;
  }
}
